!! Transparency (0-1):
st.alpha: 0.8
st.alphaOffset: +0.05

!! Set a default font and font size as below:
st.font: IosevkaTerm NFP Medium:style=SemiBold:size=20

st.termname: st-256color
st.borderpx: 10

!! Set the background, foreground and cursor colors as below:

! custom theme ---------------------------------------------
*.foreground:   #6b6b6b
*.background:   #191719
*.cursorColor:  #bbac9b

! black
*.color0:       #141414
*.color8:       #262626

! red
*.color1:       #c06c43
*.color9:       #dd7c4c

! green
*.color2:       #afb979
*.color10:      #cbd88c

! yellow
*.color3:       #c2a86c
*.color11:      #e1c47d

! blue
*.color4:       #444649
*.color12:      #5a5d6a

! magenta
*.color5:       #b4be7b
*.color13:      #d0db8e

! cyan
*.color6:       #778284
*.color14:      #8a989a

! white
*.color7:       #feffd3
*.color15:      #feffd3
! ----------------------------------------------custom theme
